.newEntryContainer {
    border: 1px solid gold;
}

.entryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid crimson;
    width: 75%;
    margin: auto;
}

.entryItem {
    display: block;
    border: 1px solid skyblue;
    min-width: 33%;
    width: 33%;
}